<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>objectId</key>
		<string>hcCjRDoWfD</string>
		<key>categoryId</key>
		<integer>0</integer>
		<key>name</key>
		<string>台灣</string>
		<key>category</key>
		<string>isTWN</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>a9StQWOjod</string>
		<key>categoryId</key>
		<integer>1</integer>
		<key>name</key>
		<string>美國</string>
		<key>category</key>
		<string>isUSA</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>mFfuo0LMqe</string>
		<key>categoryId</key>
		<integer>2</integer>
		<key>name</key>
		<string>日本</string>
		<key>category</key>
		<string>isJPN</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>TGDvw0pMB4</string>
		<key>categoryId</key>
		<string>3</string>
		<key>name</key>
		<string>中國</string>
		<key>category</key>
		<string>isCHN</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>dCQ5P3oULD</string>
		<key>categoryId</key>
		<string>4</string>
		<key>name</key>
		<string>香港</string>
		<key>category</key>
		<string>isHKG</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>3SBmSX7MaO</string>
		<key>categoryId</key>
		<integer>5</integer>
		<key>name</key>
		<string>韓國</string>
		<key>category</key>
		<string>isKOR</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>J7zvtq1KNq</string>
		<key>categoryId</key>
		<integer>6</integer>
		<key>name</key>
		<string>泰國</string>
		<key>category</key>
		<string>isTHA</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>htHfLXiVi2</string>
		<key>categoryId</key>
		<integer>7</integer>
		<key>name</key>
		<string>新加玻</string>
		<key>category</key>
		<string>isSGP</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>htHfLXiVi2</string>
		<key>categoryId</key>
		<integer>8</integer>
		<key>name</key>
		<string>馬來西亞</string>
		<key>category</key>
		<string>isMYS</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>htHfLXiVi2</string>
		<key>categoryId</key>
		<integer>9</integer>
		<key>name</key>
		<string>紐西蘭</string>
		<key>category</key>
		<string>isNZL</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>htHfLXiVi2</string>
		<key>categoryId</key>
		<integer>10</integer>
		<key>name</key>
		<string>越南</string>
		<key>category</key>
		<string>isVNM</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>htHfLXiVi2</string>
		<key>categoryId</key>
		<integer>11</integer>
		<key>name</key>
		<string>德國</string>
		<key>category</key>
		<string>isDEU</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>htHfLXiVi2</string>
		<key>categoryId</key>
		<integer>12</integer>
		<key>name</key>
		<string>法國</string>
		<key>category</key>
		<string>isFRA</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>htHfLXiVi2</string>
		<key>categoryId</key>
		<integer>13</integer>
		<key>name</key>
		<string>英國</string>
		<key>category</key>
		<string>isGBR</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>htHfLXiVi2</string>
		<key>categoryId</key>
		<integer>14</integer>
		<key>name</key>
		<string>歐洲</string>
		<key>category</key>
		<string>isEU</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>htHfLXiVi2</string>
		<key>categoryId</key>
		<integer>15</integer>
		<key>name</key>
		<string>澳洲</string>
		<key>category</key>
		<string>isAUS</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>htHfLXiVi2</string>
		<key>categoryId</key>
		<integer>16</integer>
		<key>name</key>
		<string>非洲</string>
		<key>category</key>
		<string>isAFR</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>htHfLXiVi2</string>
		<key>categoryId</key>
		<integer>17</integer>
		<key>name</key>
		<string>外國</string>
		<key>category</key>
		<string>isFor</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>htHfLXiVi2</string>
		<key>categoryId</key>
		<integer>18</integer>
		<key>name</key>
		<string>徵求</string>
		<key>category</key>
		<string>isAsk</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>htHfLXiVi2</string>
		<key>categoryId</key>
		<integer>19</integer>
		<key>name</key>
		<string>推薦</string>
		<key>category</key>
		<string>isRec</string>
	</dict>
</array>
</plist>
